[database]
host = localhost
port = 5432
username = app_user
password = 
db_name = 
pool_size = 10
ssl_enabled = true

[server]
host = 0.0.0.0
port = 8000
debug = false

[logging]
level = INFO
file = app.log

[discord]
APP_ID =
DISCORD_TOKEN =
PUBLIC_KEY =

[langfuse]
LANGFUSE_SECRET_KEY =
LANGFUSE_PUBLIC_KEY =
LANGFUSE_BASE_URL = https://us.cloud.langfuse.com

[tavily]
TAVILY_API_KEY = 

[homeassistant]
HOME_ASSISTANT_TOKEN = 
HOME_ASSISTANT_BASE_URL = localhost

[google]
GOOGLE_API_KEY = 
SERVICE_ACCOUNT_KEY_FILE =

[otel]
ENABLED = true
SERVICE_NAME = scyes
GRAFANA_CLOUD_TOKEN =
OTEL_EXPORTER_OTLP_ENDPOINT="https://otlp-gateway-prod-ap-southeast-1.grafana.net/otlp"

[vercel]
VERCEL_AI_GATEWAY_API_KEY =

[openweather]
OPENWEATHER_API_KEY =

[klipy]
KLIPY_API_KEY =

[giphy]
GIPHY_API_KEY =